html {
    scroll-behavior: smooth;
}

body {
    background:url(bg2.png);
    font-family: 'Roboto Mono', monospace;
    color:#5B3758;
    display:grid;
    grid-template-rows: 100vh 100vh auto auto auto;
    grid-template-columns: auto;
}

header {
    size: 100vh;
    background:#F9ADA0;
    justify-self:center;
    align-self:center;
    grid-row:1;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows:auto auto auto;
    padding:30px;
}

#about {
    grid-row:2;
}

#projects {
    grid-row:3;
}

header img {
    border:5px double white;
}

#portrait {
    grid-column:2;
    grid-row:1 / span 3;
}

header h1, h3, nav {
    padding:15px;
    margin:15px;
    grid-column:3;
}

header h1 {
    grid-row:1;
}

header h3 {
    grid-row:2;
}

nav h3 {
    font-family: 'Climate Crisis', cursive;
    background:white;
    margin:15px;
    padding:20px;
    font-size:40px;
    letter-spacing: normal;
    transition:  0.5s;

}

nav h3:hover {
    color:white;
    background:#C65B7C;
    letter-spacing:10px;

    
}

h1 {
    font-family: 'Climate Crisis', cursive;
    font-size: 50px;
}

a {
    color:#7DD18B;
    transition: color 0.5s;
    text-decoration:none;
}

a:hover {
    color:white;
}