html {
    scroll-behavior: smooth;
}

body {
    background:url(bg2.png);
    font-family: 'Roboto Mono', monospace;
    color:white;
    display:grid;
    grid-template-rows: 100vh 100vh auto auto auto;
    grid-template-columns: auto;
}

header {
    size: 100vh;
    background:rgba(249,158,153,0.8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    justify-self:center;
    align-self:center;
    grid-row:1;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows:auto auto auto;
    padding:30px;
    border:solid 3px white;
    box-shadow: white 10px 10px;
    

}

#about {
    grid-row:2;
}

#projects {
    grid-row:3;
}

header img {
    border:solid 3px #7DD18B;
    box-shadow:#7DD18B 8px 8px;
}

#portrait {
    grid-column:2;
    grid-row:1 / span 3;
}

header h1, h2, nav {
    padding:15px;
    margin:15px;
    grid-column:3;
}

header h1 {
    grid-row:1;
    color:white;
    text-shadow: #7DD18B 5px 5px;

}


nav h3 {
    font-family: 'Climate Crisis', cursive;
    background:white;
    margin:15px;
    padding:20px;
    font-size:40px;
    letter-spacing: normal;
    box-shadow: #7DD18B 8px 8px;
    transition:  0.5s;

}

nav h3:hover {
    color:white;
    background:#C65B7C;
    letter-spacing:10px;

    
}

h1 {
    font-family: 'Climate Crisis', cursive;
    font-size: 50px;
}

a {
    color:#7DD18B;
    transition: color 0.5s;
    text-decoration:none;
}

a:hover {
    color:white;
}